# Propuesta de trabajo #

#### Integrantes

- Cloe Romero
- Macarena Rojas
- Benjamin Giacomini

#### Librerias

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

### Presentación de los datos 
Vamos a trabajar con el dataset _[Heart Failure](https://www.kaggle.com/andrewmvd/heart-failure-clinical-data)_ que contiene 12 características para predecir la mortalidad por insuficiencia cardíaca.

In [2]:
heart_failure = (
    pd.read_csv(os.path.join("..", "project", "heart_failure_clinical_records_dataset.csv"))
    .rename(columns=lambda x: x.replace(" ", "").replace(".", "_").lower())
)
                                                                                               
heart_failure.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death_event
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

### Definición de variables

* __Edad__: 
    - Descripción: Edad de los pacientes. 
    - Tipo: _int_
    - Observaciones: No deberían encontrarse valores _float_. 
* __Anemia__:  
    - Descripción: Disminución de glóbulos rojos o hemoglobina. 
    - Tipo: _int_
    - Observaciones: Valores binarios, 1 si tiene anemia o 0 si no tiene anemia. 
* __Creatinina Fosfoquinasa__:   
    - Descripción: Nivel de la enzima CPK en sangre (mcg/L). 
    - Tipo: _int_
    - Observaciones: Podrian encontrarse valores _float_. 
* __Diabetes__: 
    - Descripción: Si el paciente tiene diabetes. 
    - Tipo: _int_
    - Observaciones: Valores binarios, 1 si tiene diabetes o 0 si no tiene diabetes. 
* __Fracción de Eyección__: 
    - Descripción: Porcentaje de sangre que sale del corazón en cada contracción. 
    - Tipo: _int_
    - Observaciones: No deberían encontrarse valores mayores a 100 o menores a 0. 
* __Hipertensión__: 
    - Descripción: Si el paciente tiene hipertensión.
    - Tipo: _int_
    - Observaciones: Valores binarios, 1 si tiene hipertension o 0 si no tiene hipertension.
* __Plaquetas__:  
    - Descripción: Plaquetas en la sangre (kiloplaquetas/mL).
    - Tipo: _float_
    - Observaciones:  
* __Suero de Creatinina__:   
    - Descripción: Nivel de creatinina sérica en sangre (mg/dL). 
    - Tipo: _float_
    - Observaciones:  
* __Sodio Sérico__:  
    - Descripción: Nivel de sodio sérico en sangre (mEq/L). 
    - Tipo: _float_
    - Observaciones:  
* __Sexo__: 
    - Descripción: Sexo del paciente. 
    - Tipo: _int_
    - Observaciones: Valores binarios, 1 si es hombre o 0 si es mujer. 
* __Fumador__: 
    - Descripción: Si el paciente fuma. 
    - Tipo: _int_
    - Observaciones: Valores binarios, 1 si fuma o 0 si no fuma.
* __Hora__:
    - Descripción:  
    - Tipo: _int_
    - Observaciones:  
* __Evento de Muerte__: 
    - Descripción:  
    - Tipo: _int_
    - Observaciones: Valores binarios, 1 si muere o 0 si no muere.

### Contexto de la problemática 

En el mundo, el 31% de las muertes se deben a enfermedades cardiovasculares, es decir, son casi 17,9 millones de muertes al año. Esto se puede prevenir controlando los factores de riesgo como fumar, la obesidad, el alcohol o la mala dieta que posea esa persona. Ademas, si la persona posee una enfermedad aparte como diabetes, hipertension, etc. necesitan de mayor ayuda para poder prevenir una posible muerte. Para esto, es importante tener un modelo de aprendizaje donde la obtencion de resultados sea facil y lo mas precisa posible, aumentando en rendimiento de los posibles tratamientos y del personal de la salud.

### ¿Cuál es la pregunta que desean resolver?

##### ¿Como se relacionan las distintas variables con el mortalidad por insuficiencia cardiaca? **(arreglar)**

### Análisis estadístico de los datos

In [3]:
heart_failure.describe(include="all").T

,count,mean,std,min,25%,50%,75%,max
age,299.0,60.833893,11.894809,40.0,51.0,60.0,70.0,95.0
anaemia,299.0,0.431438,0.496107,0.0,0.0,0.0,1.0,1.0
creatinine_phosphokinase,299.0,581.839465,970.287881,23.0,116.5,250.0,582.0,7861.0
diabetes,299.0,0.418060,0.494067,0.0,0.0,0.0,1.0,1.0
ejection_fraction,299.0,38.083612,11.834841,14.0,30.0,38.0,45.0,80.0
high_blood_pressure,299.0,0.351171,0.478136,0.0,0.0,0.0,1.0,1.0
platelets,299.0,263358.029264,97804.236869,25100.0,212500.0,262000.0,303500.0,850000.0
serum_creatinine,299.0,1.393880,1.034510,0.5,0.9,1.1,1.4,9.4
serum_sodium,299.0,136.625418,4.412477,113.0,134.0,137.0,140.0,148.0
sex,299.0,0.648829,0.478136,0.0,0.0,1.0,1.0,1.0
smoking,299.0,0.321070,0.467670,0.0,0.0,0.0,1.0,1.0
time,299.0,130.260870,77.614208,4.0,73.0,115.0,203.0,285.0
death_event,299.0,0.321070,0.467670,0.0,0.0,0.0,1.0,1.0

### Visualización de variables

In [4]:
heart_failure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  death_event               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [5]:
heart_failure.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
death_event                   int64
dtype: object

In [6]:
for col in heart_failure:
    print(f"La columna {col} posee los siguientes valores únicos:\n {heart_failure[col].sort_values().unique()}\n\n")

La columna age posee los siguientes valores únicos:
 [40.    41.    42.    43.    44.    45.    46.    47.    48.    49.
 50.    51.    52.    53.    54.    55.    56.    57.    58.    59.
 60.    60.667 61.    62.    63.    64.    65.    66.    67.    68.
 69.    70.    72.    73.    75.    77.    78.    79.    80.    81.
 82.    85.    86.    87.    90.    94.    95.   ]


La columna anaemia posee los siguientes valores únicos:
 [0 1]


La columna creatinine_phosphokinase posee los siguientes valores únicos:
 [  23   30   47   52   53   54   55   56   57   58   59   60   61   62
   63   64   66   68   69   70   72   75   76   78   80   81   84   86
   88   90   91   92   93   94   95   96   97   99  101  102  103  104
  109  110  111  112  113  115  118  119  121  122  123  124  125  127
  128  129  130  131  132  133  135  143  144  145  146  148  149  151
  154  156  157  159  160  161  166  167  168  170  171  176  180  185
  190  191  193  196  198  200  203  207  211  212  213  220  224  231
  232  233  235  244  245  246  248  249  250  253  257  258  260  270
  280  281  291  292  298  305  308  315  318  320  326  328  335  336
  337  358  364  369  371  379  395  400  418  427  446  478  482  514
  553  571  572  577  582  588  607  615  618  624  646  655  675  707
  719  720  737  748  754  776  789  805  835  855  892  897  898  910
  936  943  972  981 1021 1051 1082 1185 1199 1202 1211 1380 1419 1548
 1610 1688 1767 1808 1820 1846 1876 1896 2017 2060 2261 2281 2334 2413
 2442 2522 2656 2695 2794 3964 3966 4540 5209 5882 7702 7861]


La columna diabetes posee los siguientes valores únicos:
 [0 1]


La columna ejection_fraction posee los siguientes valores únicos:
 [14 15 17 20 25 30 35 38 40 45 50 55 60 62 65 70 80]


La columna high_blood_pressure posee los siguientes valores únicos:
 [0 1]


La columna platelets posee los siguientes valores únicos:
 [ 25100.    47000.    51000.    62000.    70000.    73000.    75000.
  87000.   105000.   119000.   122000.   126000.   127000.   130000.
 132000.   133000.   136000.   140000.   141000.   147000.   149000.
 150000.   151000.   153000.   155000.   160000.   162000.   164000.
 166000.   172000.   173000.   174000.   176000.   179000.   181000.
 184000.   185000.   186000.   188000.   189000.   192000.   194000.
 196000.   198000.   200000.   201000.   203000.   204000.   208000.
 210000.   211000.   212000.   213000.   215000.   216000.   217000.
 218000.   219000.   220000.   221000.   222000.   223000.   224000.
 225000.   226000.   227000.   228000.   229000.   231000.   232000.
 233000.   235000.   236000.   237000.   241000.   242000.   243000.
 244000.   246000.   248000.   249000.   250000.   252000.   253000.
 254000.   255000.   257000.   259000.   260000.   262000.   263000.
 263358.03 264000.   265000.   266000.   267000.   268000.   270000.
 271000.   274000.   275000.   276000.   277000.   279000.   281000.
 282000.   283000.   284000.   286000.   289000.   290000.   293000.
 294000.   295000.   297000.   298000.   300000.   301000.   302000.
 303000.   304000.   305000.   306000.   308000.   309000.   310000.
 314000.   317000.   318000.   319000.   321000.   324000.   325000.
 327000.   328000.   329000.   330000.   334000.   336000.   337000.
 338000.   348000.   350000.   351000.   358000.   360000.   362000.
 365000.   368000.   371000.   374000.   377000.   382000.   385000.
 388000.   389000.   390000.   395000.   404000.   406000.   418000.
 422000.   427000.   448000.   451000.   454000.   461000.   481000.
 497000.   504000.   507000.   533000.   543000.   621000.   742000.
 850000.  ]


La columna serum_creatinine posee los siguientes valores únicos:
 [0.5  0.6  0.7  0.75 0.8  0.9  1.   1.1  1.18 1.2  1.3  1.4  1.5  1.6
 1.7  1.8  1.83 1.9  2.   2.1  2.2  2.3  2.4  2.5  2.7  2.9  3.   3.2
 3.4  3.5  3.7  3.8  4.   4.4  5.   5.8  6.1  6.8  9.   9.4 ]


La columna serum_sodium posee los siguientes valores únicos:
 [113 116 121 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138
 139 140 141 142 143 144 145 146 148]


La columna sex posee los siguientes valores únicos:
 [0 1]


La columna smoking posee los siguientes valores únicos:
 [0 1]


La columna time posee los siguientes valores únicos:
 [  4   6   7   8  10  11  12  13  14  15  16  20  22  23  24  26  27  28
  29  30  31  32  33  35  38  40  41  42  43  44  45  50  54  55  59  60
  61  63  64  65  66  67  68  71  72  73  74  75  76  77  78  79  80  82
  83  85  86  87  88  90  91  94  95  96  97 100 104 105 106 107 108 109
 110 111 112 113 115 117 118 119 120 121 123 126 129 130 134 135 140 145
 146 147 148 150 154 162 170 171 172 174 175 180 185 186 187 188 192 193
 194 195 196 197 198 200 201 205 206 207 208 209 210 211 212 213 214 215
 216 220 230 231 233 235 237 240 241 244 245 246 247 250 256 257 258 270
 271 278 280 285]


La columna death_event posee los siguientes valores únicos:
 [0 1]

### Preprocesamiento

* En la columna `age` se presentan la siguiente anomalía:
    * Hay un valor flotante.

In [8]:
heart_failure["age"] = heart_failure.assign(age=lambda x: x["age"].replace({60.667:60})).astype({"age": "int"})

### ¿Hay que realizar inputación de datos faltantes?

No hay datos faltantes en ninguna columna por lo que no se debe realizar imputacion.

### ¿Hay que realizar balanceo de datos?

ke es esto

### Propuesta de cuatro modelos y sus hiperparámetros asociados

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)